.footer__column-link {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  opacity: 100%;
  transition: opacity 0.5s;
}

.footer__column-link:hover {
  opacity: 50%;
}
